{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<div class="row">
	<!-- BEGIN daterange-filter -->
	<div class="d-sm-flex align-items-center mb-3">
		<a href="#" class="btn btn-dark me-2 text-truncate" id="daterange-filter">
			<i class="fa fa-calendar fa-fw text-white text-opacity-50 ms-n1"></i> 
			<span><p>Date Range: {{ start_date|date:"d M Y" }} - {{ end_date|date:"d M Y" }}</p></span>
		<b class="caret ms-1 opacity-5"></b>
		</a>
		<div class="text-gray-600 fw-bold mt-2 mt-sm-0"><b>compared to <span id="daterange-prev-date">{{ start_date|date:"d M Y" }} - {{ end_date|date:"d M Y" }}</b></span></div>
		<!-- dropdown -->
	  <div class="btn-group">
	  <a href="#" class="btn btn-dark">Dropdown</a>
	  <a href="#" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
	  <i class="fa fa-caret-down"></i>
	  </a>
	  <ul class="dropdown-menu dropdown-menu-end">
		<li><a href="{% url 'AdDashboard' %}" class="btn btn-search">Adword</a></li>
		<li><a href="{% url 'Analytics_Dashboard' %}" class="btn btn-search">Analytics</a></i></li>
		<li><a href="{% url 'ABD' %}" class="btn btn-search">Artist Bookings</a></i></li>
		{% comment %} <li><a href="#" class="btn btn-search">Meta</a><i class="fa fa-caret-down"></i></li> {% endcomment %}
		<li><a href="{% url 'vendor_Booking_Dashboard' %}" class="btn btn-search">Vendor Bookinng</a></i></li>
		<li><a href="{% url 'Artist_location_dashboard' %}" class="btn btn-search">Artist Location</a></i></li>
		<li><a href="{% url 'VLD' %}" class="btn btn-search">Vendor Location</a></i></li>
		
		
	  </ul>
</div>
	 
	</div>
	<!-- END daterange-filter -->
	
</div>
      <div class="row">
        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-blue">
            
                <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                <div class="stats-info">
                    <h4>Total Click</h4>
                    <p>{{ clicks.count }}</p>	
                </div>
                <div class="stats-link">
                    <a href="{{ ad_page }}">View Details<i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-info">
                <div class="stats-icon"><i class="fa fa-link"></i></div>
                <div class="stats-info">
                    <h4>Total Cost:</h4>
                    <p>{{cost.count}}</p>	
                </div>
                <div class="stats-link">
                    <a href="{{ ad_page }}">View Details<i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-orange">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>Search Word:</h4>
                    <p>{{search_word.count}}</p>	
                </div>
                <div class="stats-link">
                    <a href="{{ ad_page }}"> View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- END col-3 -->
        <!-- BEGIN col-3 -->
        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="fa fa-clock"></i></div>
                <div class="stats-info">
                    <h4>CPC</h4>
                    <p>{{ cost_per_conversion.count }}</p>	
                </div>
                <div class="stats-link">
                    <a href="{{ ad_page }}">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- END col-3 -->
    </div>
<div class="col">
    <div class="row-4">
        <!-- BEGIN col-8 -->
            <div class="row-4">
                <!-- BEGIN panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">Adword Chart</h4>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="mChart" width="400" height="100"></canvas>
        </div> 
				</div>
    			
	
		<!-- BEGIN panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">Search Word</h4>
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<canvas id="myChart" width="400" height="100"></canvas>

			</div>	
        </div>
    </div>
	<div class="col-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h4 class="panel-title">campaign Chart</h4>
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<canvas id="campaignChart"width="400" height="100"></canvas>

			</div>	
        </div>
	
</div>
<div>
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h4 class="panel-title"> campaign Chart</h4>
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="panel-body">
      <canvas id="campaign Chart" width="400" height="100"></canvas>

    </div>	
      </div>

</div>
</div>
<div>
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h4 class="panel-title"> Per_day Chart</h4>
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
      </div>
    </div>
    <div class="panel-body">
      <canvas id="Gender Chart" width="400" height="100"></canvas>

    </div>	
      </div>

</div>
</div>
<div>

    <!-- END row -->
    
</div>

     {% comment %} <script src="../static/js/vendor.min.js"></script>
	<script src="../static/js/app.min.js"></script>  {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
  
  {% comment %} <script>
	const ctx = document.getElementById('myChart');
  
	new Chart(ctx, {
	  type: 'line',
	  data: {
		labels: [{% for data in data %}'{{ data.date }}',{% endfor %}],
		datasets: [{
		  label: 'Sum of Clicks',
		  data: [{% for data in data %}{{ data.clicks }},{% endfor %}],
		  backgroundColor: 'rgba(54, 162, 235, 0.5)',
		  borderColor: 'rgba(54, 162, 235, 1)',
		  borderWidth: 1
		}]
	  },
	  options: {
		scales: {
		  y: {
			beginAtZero: true
		  },
		  x: {
			ticks: {
			  maxRotation: 0, // Set the rotation to 0 degrees
			  autoSkip: false, // Disable automatic skipping of labels
			  maxTicksLimit: 10 // Adjust the maximum number of ticks to display
			}
		  }
		},
		indexAxis: 'x', // Set the index axis to 'x' for horizontal bar chart
		barThickness: 20 // Adjust the bar thickness (remove quotation marks for a numerical value)
	  }
	});
  </script>
  <script src="../static/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script> {% endcomment %}

{% comment %} <script>
  var xArray = ['January', 'February', 'March', 'April', 'May', 'June'];
  var yArray1 = [100, 200, 150, 300, 250, 180];
  var yArray2 = [50, 150, 100, 200, 180, 120];

  var ctx = document.getElementById('AdChart').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: xArray,
          datasets: [{
              label: 'Data 1',
              data: yArray1,
              yAxisID: 'y-axis-1',
              backgroundColor: 'rgba(54, 162, 235, 0.5)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
          }, {
              label: 'Data 2',
              data: yArray2,
              yAxisID: 'y-axis-2',
              backgroundColor: 'rgba(255, 99, 132, 0.5)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  id: 'y-axis-1',
                  type: 'linear',
                  position: 'left',
                  scaleLabel: {
                      display: true,
                      labelString: 'Data 1'
                  }
              }, {
                  id: 'y-axis-2',
                  type: 'linear',
                  position: 'right',
                  scaleLabel: {
                      display: true,
                      labelString: 'Data 2'
                  }
              }]
          }
      }
  });
</script> {% endcomment %}
<script>
  // Static data for the chart
  var labels2 = [{% for data in data %}'{{ data.date }}',{% endfor %}];
  var dataset1 = [{% for data in data %}{{ data.clicks }},{% endfor %}];
  var dataset2 = [{% for data in data %}{{data.conversions }},{% endfor %}];

  // Create the chart
  var ctx2 = document.getElementById('mChart').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: labels2,
          datasets: [
              {
                  label: 'clicks',
                  data: dataset1,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-1'
              },
              {
                  label: 'conversions',
                  data: dataset2,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-2'
              }
          ]
      },
      options: {
          responsive: true,
          scales: {
              y: [
                  {
                      type: 'linear',
                      display: true,
                      position: 'left',
                      id: 'y-axis-1'
                  },
                  {
                      type: 'linear',
                      display: true,
                      position: 'right',
                      id: 'y-axis-2'
                  }
              ]
          }
      }
  });
</script>
<script>
  // Static data for the chart
  var labels2 = [{% for data in data %}'{{ data.search_word }}',{% endfor %}];
  var dataset1 = [{% for data in data %}{{ data.search_word_clicks }},{% endfor %}];
  var dataset2 = [{% for data in data %}{{data.search_word_impressions }},{% endfor %}];

  // Create the chart
  var ctx2 = document.getElementById('myChart').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: labels2,
          datasets: [
              {
                  label: 'clicks',
                  data: dataset1,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-1'
              },
              {
                  label: 'Impression',
                  data: dataset2,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-2'
              }
          ]
      },
      options: {
          responsive: true,
          scales: {
              y: [
                  {
                      type: 'linear',
                      display: true,
                      position: 'left',
                      id: 'y-axis-1'
                  },
                  {
                      type: 'linear',
                      display: true,
                      position: 'right',
                      id: 'y-axis-2'
                  }
              ]
          }
      }
  });
</script>
<script>
  // Static data for the chart
  var labels2 = [{% for data in data %}'{{ data.network_name}}',{% endfor %}];
  var dataset1 = [{% for data in data %}{{ data.network_clicks }},{% endfor %}];
  var dataset2 = [{% for data in data %}{{data.network_cost }},{% endfor %}];

  // Create the chart
  var ctx2 = document.getElementById('campaignChart').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: labels2,
          datasets: [
              {
                  label: 'network_clicks',
                  data: dataset1,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-1'
              },
              {
                  label: 'network_cost',
                  data: dataset2,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-2'
              }
          ]
      },
      options: {
          responsive: true,
          scales: {
              y: [
                  {
                      type: 'linear',
                      display: true,
                      position: 'left',
                      id: 'y-axis-1'
                  },
                  {
                      type: 'linear',
                      display: true,
                      position: 'right',
                      id: 'y-axis-2'
                  }
              ]
          }
      }
  });
</script>
<script>
  // Static data for the chart
  var labels2 = [{% for data in data %}'{{ data.device_name}}',{% endfor %}];
  var dataset1 = [{% for data in data %}{{ data.device_clicks}},{% endfor %}];
  var dataset2 = [{% for data in data %}{{data.device_cost }},{% endfor %}];

  // Create the chart
  var ctx2 = document.getElementById('campaign Chart').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: labels2,
          datasets: [
              {
                  label: 'device_clicks',
                  data: dataset1,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-1'
              },
              {
                  label: 'device_cost',
                  data: dataset2,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-2'
              }
          ]
      },
      options: {
          responsive: true,
          scales: {
              y: [
                  {
                      type: 'linear',
                      display: true,
                      position: 'left',
                      id: 'y-axis-1'
                  },
                  {
                      type: 'linear',
                      display: true,
                      position: 'right',
                      id: 'y-axis-2'
                  }
              ]
          }
      }
  });
</script>
<script>
  // Static data for the chart
  var labels2 = [{% for data in data %}'{{ data.per_hour }}',{% endfor %}];
  var dataset1 = [{% for data in data %}{{ data.per_hour_impression}},{% endfor %}];
  var dataset2 = [{% for data in data %}{{data.per_day_per_hour_impression }},{% endfor %}];

  // Create the chart
  var ctx2 = document.getElementById('Gender Chart').getContext('2d');
  var myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: labels2,
          datasets: [
              {
                  label: 'per_hour_impression',
                  data: dataset1,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-1'
              },
              {
                  label: 'per_day_per_hour_impression',
                  data: dataset2,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 2,
                  yAxisID: 'y-axis-2'
              }
          ]
      },
      options: {
          responsive: true,
          scales: {
              y: [
                  {
                      type: 'linear',
                      display: true,
                      position: 'left',
                      id: 'y-axis-1'
                  },
                  {
                      type: 'linear',
                      display: true,
                      position: 'right',
                      id: 'y-axis-2'
                  }
              ]
          }
      }
  });
</script>

{% endblock content %}
